.hero {
  background-image: url('../img/01_hero/img/hero_background.jpg');
  background-position: center;
  background-repeat: no-repeat;
  font-family: $heading-font;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: -50;
    background: linear-gradient(90deg, #000000 0%, #1f0f0f 31%, #1f0f0f 65%, #000000 100%);
  }

  &__body {
    @include flex-center-space-between;
    padding-top: 34px;
  }

  &__burger {
    width: 26px;
    position: relative;
    cursor: pointer;
    height: 39px;
    top: 11px;

    &:before {
      content: "";
      width: 26px;
      height: 3px;
      background-color: #fff;
      position: absolute;
      top: 6px;
      right: 0;
      transition: all 0.3s ease 0s;
    }

    &:after {
      content: "";
      top: 12px;
      @include burger-menu-lines;
    }

    span {
      @include burger-menu-lines;
      display: block;
      width: 15px;
    }

    &.active:before {
      transform: rotate(45deg);
    }

    &.active:after {
      transform: rotate(-45deg);
      top: 6px;
    }

    &.active {
      span {
        display: none;
      }
    }
  }

  &__text {
    font-size: 18px;
    line-height: 24px;
    color: $violet;

    &--grey {
      color: $grey;
      padding-top: 14px;
      padding-bottom: 416px;
    }
  }

  &__content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
}

.hero-menu {
  height: 103px;
  width: 100%;
  background-color: #27262A;
}

.forkio-logo {
  position: relative;

  &:hover .logo-img {
    background-image: url("../img/01_hero/img/hero-logo--hover.png");
  }

  &:hover .logo-text {
    color: white;
  }
}

.logo-img {
  width: 43px;
  height: 41px;
  background-image: url("../img/01_hero/img/hero_logo.png");
}

.logo-text {
  display: none;
}

.btn-buy {
  min-width: 119px;
  padding: 11px;
  font-size: 15px;
  line-height: 15px;
  background-color: $btn-color;
  font-weight: 700;

  &:hover {
    color: $violet;
    background-color: #FFFFFF;
    border: 1px solid $violet;
  }
}

.hero-link {
  font-size: 26px;
  line-height: 26px;
  color: #000000;

  &:hover {
    color: #FFFFFF;
  }
}

.header-list {
  li {
    position: absolute;
  }

}

.title-fork {
  color: #FFFFFF;
  font-size: 48px;
  line-height: 48px;
  padding-top: 50px;
  padding-bottom: 19px;
}

.burger-menu {
  z-index: 100;
  position: absolute;
  right: -10000%;
  top: 103px;
  width: 100%;
  transition: all .5s ease;
  display: none;

  &.active {
    right: 0;
    display: block;
  }
}


.header-list {
  background: #3B3B3B;

  li {
    padding-top: 29px;
    padding-left: 34.99px;
    padding-bottom: 21px;
    background: #333333;
    margin-bottom: 3px;
    position: relative;

    &:hover .hero-link {
      color: $violet;

      &:before {
        content: "";
        height: 53px;
        width: 8px;
        background-color: $violet;
        top: 13px;
        left: 2px;
        position: absolute;
      }
    }
  }

}

.hero-link {
  font-family: $heading-font;
  font-size: 26px;
  line-height: 26px;
  padding-top: 29px;
  padding-bottom: 21px;
  color: #FFFFFF;
  user-select: none;
}

.btn-download {
  font-size: 18px;
  line-height: 20px;
  min-width: 290px;
  position: absolute;
  top: 100%;
  transform: translateY(-50%);
  left: calc(50% - 145px);
  padding: 11px;
  background-color: $btn-color;
  font-weight: 700;

  &:hover {
    border: 2px solid $violet;
    color: $violet;
    background-color: #FFFFFF;
  }

  &__subtext {
    position: absolute;
    top: 105%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 14px;
    line-height: 14px;
    color: $grey;
    white-space: nowrap;
  }
}

@import "media";