.hero-menu{
  height: 103px;
  width: 100%;
  background-color: #27262A;
}
.forkio-logo{
  position: relative;
  &:hover .logo-img{
    background-image: url("../img/01_hero/img/hero-logo--hover.png");
  }
  &:hover .logo-text{
    color: white;
  }
}
.btn{
  &:hover{
    color: $pink;
    background-color: #FFFFFF;
    border: 1px solid $pink;
  }
}
btn-download{
  &:hover{
    border: 2px solid $pink;
  }
}
.logo-img{
  width: 43px;
  height: 41px;
  background-image: url("../img/01_hero/img/hero_logo.png");
}
.hero{
  background-image: url('../img/01_hero/img/hero_background.jpg');
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  &::after{
    content: "";
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: -50;
    background: linear-gradient(90deg, #000000 0%, #1f0f0f 31%, #1f0f0f 65%, #000000 100%);
  }
}
.menu-content{
  display: flex;
  align-items: center;
}
.logo-text{
  display: none;
}
.btn{
  box-sizing: border-box;
  border-radius: 40px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  color: #FFFFFF;
}
.btn-buy{
  min-width: 119px;
  padding-right: 11px;
  padding-left: 11px;
  font-size: 15px;
  line-height: 15px;
  padding-top: 11px;
  padding-bottom: 11px;
  background-color: $btn-color;
  font-weight: 700;
}
.link{
  text-decoration: none;
}
.hero-link{
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 26px;
  color: black;
  &:hover{
    color: #FFFFFF;
  }
}
.hero__body{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 34px;
}
.header-list{
  li{
    list-style: none;
    position: absolute;
  }
}
.hero__burger{
  width: 26px;
  height: 26px;
  position: relative;
  top: 5px;
  cursor: pointer;
  &:before{
    content: "";
    width: 26px;
    height: 3px;
    background-color: #fff;
    position: absolute;
    top: 6px;
    right: 0;
    transition: all 0.3s ease 0s;
  }
  &:after{
    content: "";
    width: 26px;
    height: 3px;
    background-color: #fff;
    position: absolute;
    top: 12px;
    right: 0;
    transition: all 0.3s ease 0s;
  }
  span{
    position: absolute;
    right: 0;
    display: block;
    width: 15px;
    height: 3px;
    background-color: #fff;
  }
}
.hero__burger.active:before{
  transform:rotate(45deg);
}
.hero__burger.active:after{
  transform:rotate(-45deg);
  top: 6px;
}
.hero__burger.active{
  span{
    display: none;
    transition: all 0.3s ease 0s;
  }
}
.burger-menu{
  display: none;
}
.section-title{
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: bold;
  text-align: center;
}

.title-fork{
  color: #FFFFFF;
  font-size: 48px;
  line-height: 48px;
  padding-top: 50px;
  padding-bottom: 19px;
}
.hero__text{
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #8D81AC;
}
.grey-text{
  color: #848E97;
  padding-top: 14px;
  padding-bottom: 416px;
}
.hero__content{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.burger-menu{
  z-index: 100;
  position: absolute;
  left: 0;
  right: 0;
  top: 103px;
}
.active{
  display: block;
}
.header-list{
  background: #3B3B3B;
  li{
    padding-top: 29px;
    padding-left: 34.99px;
    padding-bottom: 21px;
    background: #333333;
    margin-bottom: 3px;
    position: relative;
    &:hover .hero-link{
      color: $pink;
      &:before{
        content: "";
        height: 53px;
        width: 8px;
        background-color: $pink;
        top: 13px;
        left: 2px;
        position: absolute;
      }
      }
  }

}
.hero-link{
  font-family: $heading-font;
  font-size: 26px;
  line-height: 26px;
  padding-top: 29px;
  padding-bottom: 21px;
  color: #FFFFFF;
  user-select: none;
}
.btn-download{
  font-size: 18px;
  line-height: 20px;
  min-width: 290px;
  position: absolute;
  top: 100%;
  transform: translateY(-50%);
  padding-right: 11px;
  padding-left: 11px;
  padding-top: 11px;
  padding-bottom: 11px;
  background-color: $btn-color;
  font-weight: 700;
}
.btn-wrapper{
  display: flex;
  justify-content: center;
}
.btn-download__subtext{
  color: #848E97;
  font-size: 30px;
  line-height: 14px;
  position: absolute;
  top: 105%;
  left: 50%;
  transform: translateX(-50%);
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  color: #848E97;
  white-space: nowrap;
}
@import "media";