.wrapper{
  padding-left: 25px;
  padding-right: 25px;
}

.section-title{
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  text-align: center;
}

p{
  text-align: center;
}

a{
  text-decoration: none;
}

button{
  outline: none;
}
