.wrapper{
  padding-left: 25px;
  padding-right: 25px;
}

.section-title{
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  text-align: center;
}

p{
  text-align: center;
}

a{
  text-decoration: none;
}

button{
  outline: none;
}
.btn{
  box-sizing: border-box;
  border-radius: 40px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  color: #FFFFFF;
}

@media (min-width: 993px) {
  .wrapper{
    padding-left: 10px;
    padding-right: 10px;
    max-width: 1200px;
    margin: 0 auto;
  }
}