$paragraph-font: "Lato", sans-serif;
$black: #323232;
$grey: #848E97;
$btn-color: #8D81AC;
$violet: #8D81AC;
$heading-font: 'Montserrat', sans-serif;
$button-font:'Montserrat', sans-serif;
$links-font: 'Montserrat', sans-serif;
