.pricing{
  font-family: $heading-font;
  position: relative;
  padding-bottom: 5px;

  &::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -50;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../img/05_pricing/img/pricing_background.png");
  }

  &__title{
    padding-bottom: 32px;
    padding-top: 22px;
    font-size: 28px;
    line-height: 42px;
    color: #FFFFFF;
  }
}


.pricing-plan{

  &__item{
    width: 257px;
    margin: 9px auto 9px;
    box-sizing: border-box;
    background-color: rgba(255,255,255,0.06);
  }

  &__title{
    padding-top: 36px;
    padding-bottom: 23px;
    font-size: 24px;
    line-height: 24px;
    @include text-white-center-uppercase;
    background-color: rgba(255,255,255,0.11);
  }

  &__description{
    padding-bottom: 67px;
  }

  &__price{
    padding-top: 30px;
    font-size: 60px;
    line-height: 62px;
    @include text-white-center-uppercase;
  }

  &__period{
    padding-top: 20px;
    padding-bottom: 30px;
    font-size: 14px;
    line-height: 16px;
    @include text-white-center-uppercase;
  }

  &__period::after{
    content: '';
    display: block;
    width: 60px;
    height: 5px;
    margin: 38px auto 0;
    background-color: $violet;
  }

  &__services{
    padding-bottom: 37px;
    font-size: 16px;
    line-height: 30px;
    color: #FFFFFF;
  }

  &__btn{
    margin: 0 auto 0 auto;
    background-color: rgba(255,255,255,0.15);
    width: 162px;
    font-size: 15px;
    line-height: 15px;
    padding:15px 37px 14px 37px;
    @include text-white-center-uppercase;
  }

  &__item--large{
    position: relative;
    max-width: 300px;
    height: 560px;
    background-color: rgba(70,48,72,0.4);

      .pricing-plan__title{
      background-color: rgba(0,0,0,0.11);
      }

    .pricing-plan__btn{
      padding: 18px 48px;
      width: 190px;
      position: absolute;
      bottom: 47px;
      left: calc(50% - 95px);
    }
  }
}


@import "media";